<.header>
  New Person
  <:subtitle>Managing Person</:subtitle>
</.header>

<.person_form changeset = {@changeset} action = {~p"/persons"} />

<.back navigate = {~p"/persons"}>Back to Persons</.back>

