<h1>Show Person</h1>

<ul>
  <li>
    <strong>ID:</strong>
    <%= elem(@person , 1) %>
  </li>
  <li>
    <strong>Name:</strong>
    <%= elem(@person , 1) %>
  </li>
</ul>

<span><.link href = {~p"/persons"}>Back</.link></span>

